@inherits LayoutComponentBase
@using MudBlazor
@using Models

<MudThemeProvider Theme="_myTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <main>
        <article>
            @Body
        </article>
    </main>
</div>

@code {
    private readonly MudTheme _myTheme = new()
    {
        Palette = new Palette
        {
            Primary = ApplicationColors.PrimaryColor,
            Secondary = ApplicationColors.SecondaryColor,
            PrimaryLighten = ApplicationColors.LightColor,
            Info = "#001f3f",
            Success = "#2ECC40",
            Warning = "#FF851B",
            Error = "#F012BE",
            AppbarBackground = "#85144b",
        },
    };
}
